


// VARIABLES 

@color-principal: 	#59bc6c;
@color-secundario: 	#71c1c0;
@color-light: 		#fff;

@color-rojo: 		#ff4c00;
@color-celeste: 	#06a2c9;
@color-dark: 		#666;
@color-fondo: 		#fffbee;
@color-fondo-osc: 	#282828; 
@color-destacado: 	#E6B800; 


// FONTS

@font-face {
  font-family: 'Gotham_Bd';
  src:  url('/fonts/GothamRounded-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gotham_Bd_It';
  src:  url('/fonts/GothamRounded-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Gotham';
  src:  url('/fonts/GothamRounded-Book.woff') format('woff');
}

@font-face {
  font-family: 'Gotham_It';
  src:  url('/fonts/GothamRounded-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'Gotham_Lt';
  src:  url('/fonts/GothamRounded-Light.woff') format('woff');
}

@font-face {
  font-family: 'Gotham_Lt_It';
  src:  url('/fonts/GothamRounded-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Gotham_Md';
  src:  url('/fonts/GothamRounded-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gotham_Md_It';
  src:  url('/fonts/GothamRounded-MediumItalic.woff') format('woff');
}


// --------------------------------------------
//
// GENERAL
//
// --------------------------------------------

body {

	font-family: 'Lato', sans-serif;
}

.centered_all {

	margin-left: auto;

	margin-right: auto; 
}


.centered_90 {

	.centered_all;

	width: 90%;

}

.centered_80 {

	.centered_all;

	width: 80%;

}

.centered_70 {

	.centered_all;

	width: 70%;

}


.gap {

	height: 40px;
}

.mini_gap {

	height: 20px; 
}

.nav-bar {

	position: fixed;

	top: 0; 

	z-index: 10000; 

	width: 100%; 

	//background: @color-principal;

	color: @color-light; 

	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
}

.nav-breadcrumb {

	padding: 8px 20px; 

	font-family: Gotham_Md; 

	text-transform: uppercase;

	i {

		padding: 0 8px; 
	}

	a {

		color: @color-light; 

		small {

			font-size: 100%; 

			font-family: Gotham_Lt; 
		}
	}
}


// --------------------------------------------
//
// PORTADA
//
// --------------------------------------------

.portada {

}

 /* Parallax base styles --------------------- */

 .parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);

    padding: 0; 

  }


   /* add some padding to force scrollbars */
  .parallax__layer {

    padding: 100vh 0;

    background-size: cover;

    width: 100%;
  }


 .imagen_encabezado {

	position: absolute;
	width: 201%;
	left: -51%;
	top: -25%;
	height: 100%; 
}


//Sección que contiene TODA información abajo de la 'portada'
.seccion_principal {

	background-color: #fff;

	position: relative;
}



  // ------------------------------

.full_screen {

	height: 100vh;

	width: 100%; 

	overflow: hidden;

    text-align: center;  /* align the inline(-block) elements horizontally */
    
    font: 0/0 a;   

	&:before {    /* create a full-height inline block pseudo=element */

	    content: ' ';

	    display: inline-block;

	    vertical-align: middle;  /* vertical alignment of the inline element */

	    height: 100%;
	}

}

	.imagen_portada {

		//background: url(attr(img)) no-repeat center center; 

		//background: url(../images/haulani/hau_cover00.jpg) no-repeat center center; 

		width: 100%;

		height: 100%;

		background-repeat:   no-repeat;

		background-position: center center; 

		-webkit-background-size: cover;

		-moz-background-size: cover;

		-o-background-size: cover;

		background-size: cover;

    	display: inline-block;
    	
    	vertical-align: middle;  /* vertical alignment of the inline element */
    	
    	font: 16px/1 Arial sans-serif;        /* <-- reset the font property */

    }

.texto_portada {

	position: absolute;

	top: 40%; 
    
	text-align: center;
    
	width: 100%;

	color: @color-light;

	h1 {

		font-family: Gotham_Md; 

		text-transform: uppercase;

		letter-spacing: 18px; 

		font-size: 40pt;

		margin: 0;

		color: @color-light !important;

		small {

			color: @color-light;

			font-family: Gotham_Lt; 

			font-size: 100%;
		}

	}

	h4 {

		font-family: 'Lato', sans-serif; 

		//letter-spacing: 1px; 

		font-size: 12pt;

		font-weight: 300; 

		max-width: 400px; 

		margin-left: auto; 

		margin-right: auto; 

		padding: 0px 20px; 
	}

}


.full_width {

	width: 100%; 

    text-align: center;  /* align the inline(-block) elements horizontally */

    position: relative;

	img {

		width: 100%; 

	}
	
	.degradado {

		position: absolute;

		bottom: 0; 

		height: 100%;

		width: 100%; 

		background: transparent linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0% 0%;

	}

}

.modal-header {

    border-bottom: 0px solid #E5E5E5;
}

.modal-footer {

    border-top: 0px solid #E5E5E5;
}

.modal-dialog {

    width: 80%;
}


.info_evento {

	span {

		display: block;

		margin: 0px 20px;

		font-family: Gotham_Md;
		
		font-size: 12pt;
		
		letter-spacing: 1pt;
		
		text-transform: uppercase;

	}

	.fecha {

		color: #59BC6C;
	}

	.hora, .lugar {

		color: #999;
	}

	.lugar {

		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	.owner {

		text-transform: none;
	}

	p {

		display: block;

		margin: 40px 20px 0px 20px;

	}
}

.row.valign{

	display: flex;

    align-items: center;
}



footer {

	background-color: @color-fondo-osc; 

	color: @color-light;

	//font-size: 100%; 

	h2 {

		font-size: 16pt; 

		font-family: Gotham_Md; 

		letter-spacing: 8px; 

		margin-top: 0; 

		small {

			color: @color-light; 

			font-size: 100%; 

			font-family: Gotham_Lt; 
		}
	}

	h4 {

		font-size: 12px; 

		font-family: Gotham_Md; 

		margin-top: 10px; 

		margin-bottom: 30px; 

		letter-spacing: 2px; 

		text-transform: uppercase;
	}

}

.bottom_bar {

	.centered_90; 

	padding: 30px; 

	text-align: center;

	.copyright {

		float: left;

		font-size: 10px; 

		font-weight: 200; 
	}

	.social {

		float: right;

		i {

			padding: 10px; 
		}
	}

}



.btn_navegacion {

	padding: 6px 20px; 

	border: 1px solid @color-light; 

	border-radius: 0.1em;

	font-size: 12px; 

	color: @color-light; 


	&:hover {

		color: @color-fondo-osc; 

		background-color: @color-light; 

		opacity: 0.6; 
	}

}



a, a:hover, a:active, a:focus {

	text-decoration: none;

	outline: 0; 

}




.recent_post {

	margin-bottom: 10px; 

	p {

		font-size: 10px; 

		letter-spacing: 0.5px; 

		font-weight: 400; 

		margin-bottom: 0; 


		&.fecha {

			font-weight: 100; 

			margin-top: 0; 
		}
	}

	span {

		display: table-cell;
	}

	.twitter_text {

		font-weight: 300; 

		font-size: 10px; 

		letter-spacing: 0.3px; 

		padding: 0 10px; 
	}

}


.filtros {

	.centered_90; 

	padding: 20px 0; 

	text-align: center; 

	.btn-primary, {

		margin: 10px 20px; 

		padding: 3px 20px; 

		border-radius: 0.3em !important; 

		background-color: @color-principal; 

		border: 1px solid @color-principal; 

		font-size: 10px; 

		text-transform: uppercase;

		min-width: 100px; 

		font-weight: 500; 

		&.active {

			background-color: @color-light; 

			color: @color-principal; 

			border-color: @color-principal; 
		}

		&:active {

			background-color: @color-principal; 

			border: 1px solid @color-light; 

		}

	}

}

.toggle_map {

	.centered_90; 

	text-align: center; 

	h4 {

		font-family: Gotham_Md; 

		color: @color-principal; 

		text-transform: uppercase;

		font-size: 14px; 
	}
}


.filters-button-group {

	.centered_90; 

	padding: 20px 0; 

	text-align: center; 

}


.sec_info {

	background-color: @color-principal; 

	height: 380px;

	text-align: center; 

	margin-top: -21px; 
}

.info_inner {

	.centered_90; 

	text-align: center; 

  	position: relative;
  	
  	top: 50%;
  	
  	transform: translateY(-50%);

  	color: @color-light; 

  	h1 {

  		font-family: Gotham_Lt; 

  		text-transform: uppercase;

  		margin-bottom: 60px; 

  		letter-spacing: 12px; 
  	}

}



.btn_principal {

	border: 1.5px solid @color-light; 

	padding: 4px 20px; 

	border-radius: 0.4em; 

	text-transform: uppercase;

	font-family: Gotham; 

	font-size: 12px; 

	letter-spacing: 2px; 

	margin: 0 20px; 

	min-width: 180px; 

}

.btn_nav {

	.btn_principal; 

	background-color: @color-principal; 

	color: @color-light; 
}

.btn_action {

	.btn_principal; 

	background-color: @color-light; 

	color: @color-principal; 
}


.btn_filtro {

	margin: 10px 5px; 

	padding: 3px 20px; 

	min-width: 100px; 

	border-radius: 0.3em !important; 

	border: 1px solid @color-principal; 

	background-color: @color-principal; 

	color: @color-light;

	text-transform: uppercase;

	font-weight: 500; 

	font-size: 13px; 

	letter-spacing: 1px; 

	/*
	&.active {

		background-color: @color-light; 

		color: @color-principal; 

		border-color: @color-principal; 
	}

	&:active {

		background-color: @color-principal; 

		border: 1px solid @color-light; 

	}*/

	&:hover {
		//background-color: #8CF;
		//text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
		//color: #222;
		}

	&:active,
	&.is-checked {

		background-color: @color-light;

		color: @color-principal;
	}

	&.is-checked {

		color: @color-principal;

		//text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);

	}

	&:active {

		//box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);

	}

}






//--------------------------- masonry


@screen-xs-min: 	640px; 
@screen-sm-min: 	768px; 
@screen-md-min:		992px; 
@screen-lg-min: 	1200px; 

/* ---- isotope ---- */

.grid {
  //background: #DDD;
  
  height: 100px; 
  
  overflow: hidden; 
}

/* clear fix */
.grid:after {

  content: '';

  display: block;

  clear: both;

}

/* ---- .grid-item ---- */





.grid-sizer,
.grid-item {
  
	overflow: hidden; 

	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-xs-min) {

		width: 100%; 
	}

	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-sm-min) {

		width: 50%; 
	}

	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) {

		width: 33.333%; 
	}

}

.grid-item {
	
	float: left;

	img {

		display: block;

		width: 100%; 

		max-width: 100%;

	}

	.caption {

		position: absolute;

		bottom: 0px; 

		//height: 50%; 

		width: 100%; 

		height: 100%;

		cursor: pointer;

		//background-color: rgba(0, 0, 0, 0.5); 

		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

		& > div {

			width: 100%; 

			position: absolute;

			text-align: center; 

			bottom: 0px; 

			padding: 60px 0 10px 0; 

		}


		h2 {

			font-size: 20px; 

			line-height: 1;

			font-family: Gotham_Md; 

			text-transform: uppercase;

			color: @color-light;

			margin-bottom: 0px; 

			display: block;

		}

		span {

			margin: 3px 0; 

			line-height: 1; 

			font-size: 10px; 

			font-family: Gotham; 

			text-transform: uppercase;

			color: @color-light; 

			display: block;

			padding: 0 5px; 


			&.lugar {

				color: @color-destacado; 

				font-family: Gotham_Md; 

				&::after, &::before {

					content: ' - '; 
				}
			}
		}

		&:hover {

			background-color: rgba(0, 0, 0, 0.5);

			h2 {

				font-size: 22px; 
			}

			& > div {

				padding-bottom: 20px; 

			}

		}
	}

}






.centrado_completo {

    width: 100%; 

    margin: 0 auto; 

}

// EMPRENDIMIENTOS

.tabs_lookeadas {

	margin-top: 15%; 

    text-align: center; 

    //border-bottom: 1px solid @color-secundario; 

    //border-top: 1px solid @color-secundario;

    //padding-top: 0;

    .nav > li {

	    position: relative;

	    display: inline-block;

	    float: none; 

	}

    .nav-tabs {

        padding: 0;

        border: 0;

        //margin: 0 20%;

        & > li > a {

            text-align: center;

            padding: 0px;

            margin: 0 20px; 

            color: @color-dark;

            font-family: Gotham_Md; 

            font-size: 11pt;

            letter-spacing: 1pt;

            line-height: 30pt;

            text-transform: uppercase;

            border: 0; 

            cursor: pointer;

            i {
                
                vertical-align: middle;

                font-size: 24pt;

                padding-right: 10px;
            }

            &:hover {

                opacity: 0.6;
            }

        }

        & > li.active a {

            color: @color-principal;

            border: none;

            border-bottom: 1px solid @color-principal;

            &:hover {

                opacity: 1;
            }

        }

    }

}

.tab-pane {

	padding: 2% 8%; 
}

.sec_productos {

	.centered_90; 

	h1 {

		text-align: center;

		font-family: Gotham_Md;

		color: @color-principal; 

		text-transform: uppercase;

		letter-spacing: 8px; 

		margin: 40px 0; 

	}
}

.tarjeta_producto {

	img {

		padding: 0 20px; 

		width: 100%; 

	}

	p {

		font-size: 10px; 

		padding: 0 20px; 

		margin-top: 10px; 

		line-height: 1.6; 
	}

	h4 {

		padding: 0 20px; 

	}

}

.sec_donde {

}

.donde_tit {

	background-color: @color-destacado; 

	h1 {

		border-top: 1px solid @color-light; 

		border-bottom: 1px solid @color-light; 

		color: @color-light; 

		margin: 0 20%;  

		padding: 20px 0; 

		text-transform: uppercase;

		font-size: 35px; 

		font-weight: 300; 

		letter-spacing: 8px; 
	}
}

.donde_map {

	padding: 0; 
}


.sec_twitter {

	background-color: @color-fondo-osc; 

	text-align: center;

	padding: 40px 0; 

	i {

		display: block;

		color: @color-principal; 

		font-size: 40px; 
	}

	p {

		color: @color-light; 

		letter-spacing: 2px; 

		margin: 20px auto; 

		max-width: 60%; 

	} 
}


.sec_fotos {

	text-align: center;

	h1 {

		font-family: Gotham_Md; 

		text-transform: uppercase;

		font-size: 30px; 

		margin-top: 40px; 
	}

	h4 {

		text-transform: uppercase;

		letter-spacing: 2px; 

		font-size: 12px; 
	}
}

.grilla_instagram {

	margin: 0 20px; 

	& > div {

		img {

			width: 100%; 

			padding: 10px; 

			margin: 10px 0; 
		}
	}
}








// ------------------------------
// full width bootstrap cols

/* USAGE
<div class="row">
  <div class="row-height">
    <div class="col-xs-2 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
    <div class="col-xs-4 col-lg-5 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
  </div>
</div>
*/

/* content styles */

.inside {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom,color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
  background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}
.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.content {
  padding: 12px 3px;
}

/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}


