


<div class="full_screen" id="portada">

    <div class="imagen_portada" style="background: url(../images/haulani/hau_cover00.jpg) no-repeat center center;"></div>

    <div class="texto_portada">
      
        <h1>Haulani</h1>

        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a ex pulvinar, vulputate arcu sit amet, gravida nulla. Nulla facilisi. Vivamus nisi lectus, gravida eget interdum id, tincidunt at nibh. Phasellus lobortis augue quis condimentum consequat. Donec quis urna consectetur, auctor dui at, volutpat enim.</h4>

    </div>

</div>

<div class="row">
	
	<div class="col-sm-6">

		<div class="centered_90 centrado completo">

			<div class="tabs_lookeadas">

			  	<ul class="nav nav-tabs" role="tablist">

				    <li role="presentation" class="active"><a data-target="#tab_paraQue" aria-controls="tab_paraQue" role="tab" data-toggle="tab">Para qué?</a></li>

				    <li role="presentation"><a data-target="#tab_porQue" aria-controls="tab_porQue" role="tab" data-toggle="tab">Por qué?</a></li>

				    <li role="presentation"><a data-target="#tab_como" aria-controls="tab_como" role="tab" data-toggle="tab">Cómo?</a></li>

			  	</ul>

		  	</div>

		  	<div class="gap"></div>

		  	<div class="tab-content">
    	
		    	<div role="tabpanel" class="tab-pane fade in active" id="tab_paraQue">

					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nibh erat, consectetur sed odio nec, ullamcorper viverra tortor. Aenean porta mauris condimentum orci viverra pellentesque.
					</p>

					<p>
						Fusce finibus eros a elit feugiat porta. Vivamus laoreet justo quis odio consequat, a tempus tellus sagittis. 
					</p>

				</div>
    	
		    	<div role="tabpanel" class="tab-pane fade" id="tab_porQue">

					<p>
						Mauris venenatis id quam non dignissim. Praesent et pretium arcu. Vivamus a neque nec erat malesuada dapibus. Etiam consequat lectus vel viverra feugiat.
					</p>

					<p>
						Pellentesque vitae felis eu dolor porta efficitur a vel velit. Suspendisse potenti. Ut convallis venenatis libero in tristique. Aliquam id mi id odio euismod luctus. Morbi nec orci vitae est convallis viverra. Quisque justo ex, semper at est sed, sodales mattis ex. Integer sit amet mauris ut ante commodo tincidunt.
					</p>

				</div>
    	
		    	<div role="tabpanel" class="tab-pane fade" id="tab_como">

					<p>
						Ut lorem purus, lobortis sit amet justo lobortis, mattis posuere quam. Vestibulum eros tellus, fringilla sit amet mattis ut, vulputate at urna. Nullam luctus fringilla dolor, gravida lobortis nunc vehicula tempor. Aenean eget pharetra urna.
					</p>

					<p>
						Proin elementum elit a urna feugiat, non lacinia neque cursus. Phasellus tincidunt turpis lacus, vitae venenatis felis eleifend a. Praesent scelerisque libero quis consectetur vestibulum. Integer ut sapien lorem. Morbi vel ante neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc at lectus mollis, rhoncus nunc a, mattis neque.
					</p>

				</div>

			</div>

		</div>

	</div>

	<div class="col-sm-6">

		<img src="/images/haulani/hau_cover02.jpg" width="100%">

	</div>

</div>

<div class="row sec_productos">

	<h1>Nuestros Helados</h1>

	<div class="col-xs-6 col-sm-3 tarjeta_producto">

		<img src="/images/haulani/hau_prod_cacao01.jpg">

		<p>Integer ut sapien lorem. Morbi vel ante neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc at lectus mollis, rhoncus nunc a, mattis neque.</p>

	</div>

	<div class="col-xs-6 col-sm-3 tarjeta_producto">

		<img src="/images/haulani/hau_prod_coco01.jpg">

		<p>Integer ut sapien lorem. Morbi vel ante neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc at lectus mollis, rhoncus nunc a, mattis neque.</p>

	</div>

	<div class="col-xs-6 col-sm-3 tarjeta_producto">

		<img src="/images/haulani/hau_prod_cacao01.jpg">

		<p>Integer ut sapien lorem. Morbi vel ante neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc at lectus mollis, rhoncus nunc a, mattis neque.</p>

	</div>

	<div class="col-xs-6 col-sm-3 tarjeta_producto">

		<img src="/images/haulani/hau_prod_coco01.jpg">

		<p>Integer ut sapien lorem. Morbi vel ante neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc at lectus mollis, rhoncus nunc a, mattis neque.</p>

	</div>
	
</div>

<div class="gap"></div>

<div class="row sec_donde">

	<div class="row-height">
	
		<div class="col-sm-4 donde_tit col-sm-height col-sm-middle">

			<h1>Dónde podés encon- trarnos</h1>

		</div>

		<div class="col-sm-8 donde_map">

			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d105073.23949906467!2d-58.43329845000001!3d-34.615823750000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1446645514133" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

		</div>

	</div>

</div>

<div class="sec_twitter">

	<i class="fa fa-twitter"></i>
	
	<p>@ana-es: compartiendo un delicioso helado con mis amigos. #haulani</p>

</div>

<div class="sec_fotos">

	<h1>#haulani</h1>

	<h4>Momentos que hacen bien</h4>

	<div class="row grilla_instagram">

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram01.jpg">

		</div>

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram02.jpg">

		</div>

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram03.jpg">

		</div>

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram04.jpg">

		</div>

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram05.jpg">

		</div>

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram06.jpg">

		</div>

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram07.jpg">

		</div>

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram08.jpg">

		</div>

	</div>

</div>



<div class="gap"></div>
