    <!-- - - - - - - - - - - - - - - - - - - - - - - - 

    PORTADA 

    - - - - - - - - - - - - - - - - - - - - - - - -->
  
    <div class="full_screen" id="portada">

        <div class="imagen_portada" style="background: url(../images/ARUMA/aruma_cover00.jpg) no-repeat center center;"></div>

        <div class="texto_portada">
          
            <h1>Aruma <small>LAB</small></h1>

            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a ex pulvinar, vulputate arcu sit amet, gravida nulla. Nulla facilisi. Vivamus nisi lectus, gravida eget interdum id, tincidunt at nibh. Phasellus lobortis augue quis condimentum consequat. Donec quis urna consectetur, auctor dui at, volutpat enim.</h4>

        </div>

    </div>

    <div><a href="/proyecto">ARUMA LINK</a></div>


    <!-- - - - - - - - - - - - - - - - - - - - - - - - 

    CONTENIDO - HOME

    - - - - - - - - - - - - - - - - - - - - - - - -->

    <div id="inicio"></div>

    <!--
    <div ng-include = "'/views/main.html'"></div>
    -->

    <div class="mini_gap"></div>

    <div>

        <div class="button-group filters-button-group">

            <button class="btn_filtro is-checked" data-filter="*">todo</button>

            <button class="btn_filtro" data-filter=".tag_novedades">novedades</button>

            <button class="btn_filtro" data-filter=".tag_emprendimientos">emprendimientos</button>

            <button class="btn_filtro" data-filter=".tag_actividades">actividades</button>

            <button class="btn_filtro" data-filter=".tag_laboratorio">LABORATORIO</button>

        </div>

        <div class="toggle_map">

            <h4>board <i class="fa fa-toggle-off"></i> mapa</h4>

        </div>

        <div class="mini_gap"></div>

        <div class="grid">

          <div class="grid-sizer"></div>

          <div class="grid-item tag_emprendimientos tag_novedades">

            <img src="/images/haulani/hau_cover01.jpg" />

            <div class="caption"><div>

                <h2>Haulani</h2>

                <span>Helados que hacen bien</span>

            </div></div>

          </div>

          <div class="grid-item tag_laboratorio">

            <img src="/images/laPazAlimenta/laPazAlimenta_cover01.jpg" />

            <div class="caption"><div>

                <h2>La Paz Alimenta</h2>

                <span>Alimentación Sagrada | Resto & clases</span>

            </div></div>

          </div>

          <div class="grid-item tag_actividades tag_novedades">

            <img src="/images/EVENTOS/terapiaFloral02.jpg" />

            <div class="caption"><div>

                <h2>Terapia Floral</h2>

                <span>Taller Teórico / Práctico</span>

                <span class="lugar">Beccar</span>

            </div></div>

          </div>

          <div class="grid-item tag_emprendimientos tag_novedades">

            <img src="/images/amasutra/amasutra_cover01.jpg" />

            <div class="caption"><div>

                <h2>Amasutra</h2>

                <span>Alimento para la Piel</span>

            </div></div>

          </div>

          <div class="grid-item tag_emprendimientos tag_novedades">

            <img src="/images/ARUMA/aruma_cover01.jpg" />

            <div class="caption"><div>

                <h2>Comunidad Aruma</h2>

                <span class="lugar">Beccar</span>

            </div></div>

          </div>

          <div class="grid-item tag_emprendimientos tag_novedades">

            <img src="/images/germinar/germinar_cover01.png" />

            <div class="caption"><div>

                <h2>Germinar</h2>

                <span class="lugar">Beccar</span>

            </div></div>

          </div>

          <div class="grid-item">

            <img src="/images/mana/mana_cover01.jpg" />

            <div class="caption"><div>

                <h2>Mána</h2>

                <span>Bebidas para disfrutar con alegría</span>

            </div></div>

          </div>

          <div class="grid-item">

            <img src="/images/EVENTOS/Reiki_cover02.jpg" />

            <div class="caption"><div>

                <h2>Reiki Nivel 1</h2>

                <span>Taller Teórico / Práctico</span>

                <span class="lugar">Beccar</span>

            </div></div>

          </div>

        </div>

    </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - 

    BARRA DE INFORMACIÓN

    - - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="sec_info">

        <div class="info_inner">
        
            <h1>Estamos en contacto</h1>

            <div class="info_botones">

                <button class="btn_action">Newsletter</button>

                <button class="btn_nav">Escribinos</button>

            </div>

        </div>

    </div>


